<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings><add name="MarketingDepartmentDatabaseEntities" connectionString="metadata=res://*/MarketingDepartmentModel.csdl|res://*/MarketingDepartmentModel.ssdl|res://*/MarketingDepartmentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLADISLAV\SQLEXPRESS;initial catalog=MarketingDepartmentDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="MarketingDepartmentDatabaseEntities1" connectionString="metadata=res://*/MarketingDepartment.csdl|res://*/MarketingDepartment.ssdl|res://*/MarketingDepartment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLADISLAV\SQLEXPRESS;initial catalog=MarketingDepartmentDatabase;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>